WeighBridgeApplication/Service References/RustiviaService.DbContext/DataService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.10/RustiviaService2.0/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" />
  <xs:element name="AddPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="purchase" nillable="true" type="q1:PurchaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPurchaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="sale" nillable="true" type="q2:SaleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="sale" nillable="true" type="q3:SaleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="weighBridgeInfo" nillable="true" type="q4:PurchaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContainerWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="containerDto" nillable="true" type="q5:ContainerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContainerWeightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="containerDto" nillable="true" type="q6:ContainerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContainerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="saleDto" nillable="true" type="q7:SaleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="purchaseDto" nillable="true" type="q8:PurchaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverPurchaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetTrucksResult" nillable="true" type="q9:ArrayOfTruckDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetDriversResult" nillable="true" type="q10:ArrayOfDriverDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetSuppliersResult" nillable="true" type="q11:ArrayOfSupplierInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetProductsResult" nillable="true" type="q12:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetCustomersResult" nillable="true" type="q13:ArrayOfCustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetPurchaseResult" nillable="true" type="q14:ArrayOfPurchaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetSalesResult" nillable="true" type="q15:ArrayOfSaleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompletePurchase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompletePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetIncompletePurchaseResult" nillable="true" type="q16:ArrayOfPurchaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompleteContainers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompleteContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetIncompleteContainersResult" nillable="true" type="q17:ArrayOfContainerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteContainers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetCompleteContainersResult" nillable="true" type="q18:ArrayOfContainerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompleteSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompleteSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="GetIncompleteSalesResult" nillable="true" type="q19:ArrayOfSaleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" minOccurs="0" name="SearchPurchaseResult" nillable="true" type="q20:ArrayOfPurchaseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>