WeighBridgeApplication/Service References/RustiviaService.DbContext/DataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaService2.0/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaService2.0/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaService2.0/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_AddPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPurchase" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddSale_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSale" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateSale_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSale" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdatePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePurchase" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdatePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddContainerWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContainerWeight" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddContainerWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContainerWeightResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContainer" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_RecoverSale_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverSale" />
  </wsdl:message>
  <wsdl:message name="IDataService_RecoverSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_RecoverPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPurchase" />
  </wsdl:message>
  <wsdl:message name="IDataService_RecoverPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrucks" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrivers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchase" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSales" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetIncompletePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncompletePurchase" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetIncompletePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncompletePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetIncompleteContainers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncompleteContainers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetIncompleteContainers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncompleteContainersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCompleteContainers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteContainers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCompleteContainers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleteContainersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetIncompleteSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncompleteSales" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetIncompleteSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncompleteSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SearchPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPurchase" />
  </wsdl:message>
  <wsdl:message name="IDataService_SearchPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IDataService_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="AddPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/AddPurchase" message="tns:IDataService_AddPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/AddPurchaseResponse" message="tns:IDataService_AddPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/AddSale" message="tns:IDataService_AddSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/AddSaleResponse" message="tns:IDataService_AddSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/UpdateSale" message="tns:IDataService_UpdateSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UpdateSaleResponse" message="tns:IDataService_UpdateSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/UpdatePurchase" message="tns:IDataService_UpdatePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UpdatePurchaseResponse" message="tns:IDataService_UpdatePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContainerWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/AddContainerWeight" message="tns:IDataService_AddContainerWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/AddContainerWeightResponse" message="tns:IDataService_AddContainerWeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/UpdateContainer" message="tns:IDataService_UpdateContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UpdateContainerResponse" message="tns:IDataService_UpdateContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/RecoverSale" message="tns:IDataService_RecoverSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/RecoverSaleResponse" message="tns:IDataService_RecoverSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/RecoverPurchase" message="tns:IDataService_RecoverPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/RecoverPurchaseResponse" message="tns:IDataService_RecoverPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTrucks" message="tns:IDataService_GetTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTrucksResponse" message="tns:IDataService_GetTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetDrivers" message="tns:IDataService_GetDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetDriversResponse" message="tns:IDataService_GetDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSuppliers" message="tns:IDataService_GetSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSuppliersResponse" message="tns:IDataService_GetSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetProducts" message="tns:IDataService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetProductsResponse" message="tns:IDataService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCustomers" message="tns:IDataService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCustomersResponse" message="tns:IDataService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetPurchase" message="tns:IDataService_GetPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetPurchaseResponse" message="tns:IDataService_GetPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSales" message="tns:IDataService_GetSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSalesResponse" message="tns:IDataService_GetSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncompletePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetIncompletePurchase" message="tns:IDataService_GetIncompletePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetIncompletePurchaseResponse" message="tns:IDataService_GetIncompletePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncompleteContainers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetIncompleteContainers" message="tns:IDataService_GetIncompleteContainers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetIncompleteContainersResponse" message="tns:IDataService_GetIncompleteContainers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompleteContainers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCompleteContainers" message="tns:IDataService_GetCompleteContainers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCompleteContainersResponse" message="tns:IDataService_GetCompleteContainers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncompleteSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetIncompleteSales" message="tns:IDataService_GetIncompleteSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetIncompleteSalesResponse" message="tns:IDataService_GetIncompleteSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SearchPurchase" message="tns:IDataService_SearchPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SearchPurchaseResponse" message="tns:IDataService_SearchPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/IsValidUser" message="tns:IDataService_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/IsValidUserResponse" message="tns:IDataService_IsValidUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSale">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSale">
      <soap:operation soapAction="http://tempuri.org/IDataService/UpdateSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/UpdatePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContainerWeight">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddContainerWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContainer">
      <soap:operation soapAction="http://tempuri.org/IDataService/UpdateContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverSale">
      <soap:operation soapAction="http://tempuri.org/IDataService/RecoverSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/RecoverPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrucks">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrivers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncompletePurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetIncompletePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncompleteContainers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetIncompleteContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompleteContainers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCompleteContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncompleteSales">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetIncompleteSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/SearchPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <soap:operation soapAction="http://tempuri.org/IDataService/IsValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IDataService" type="tns:IDataService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IDataService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSale">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSale">
      <soap:operation soapAction="http://tempuri.org/IDataService/UpdateSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/UpdatePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContainerWeight">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddContainerWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContainer">
      <soap:operation soapAction="http://tempuri.org/IDataService/UpdateContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverSale">
      <soap:operation soapAction="http://tempuri.org/IDataService/RecoverSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/RecoverPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrucks">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrivers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncompletePurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetIncompletePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncompleteContainers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetIncompleteContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompleteContainers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCompleteContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncompleteSales">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetIncompleteSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPurchase">
      <soap:operation soapAction="http://tempuri.org/IDataService/SearchPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <soap:operation soapAction="http://tempuri.org/IDataService/IsValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://10.0.0.10/RustiviaService2.0/DataService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IDataService" binding="tns:BasicHttpsBinding_IDataService">
      <soap:address location="https://rustivia-pc.rustivia.metals/RustiviaService2.0/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>