WeighBridgeApplication/Service References/RustiviaService.DbContext/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntroductionMVC5.Service.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PurchaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:DriverDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Truck" nillable="true" type="tns:TruckDto" />
      <xs:element minOccurs="0" name="WeighBridgeInfo" nillable="true" type="tns:WeighBridgeInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseDto" nillable="true" type="tns:PurchaseDto" />
  <xs:complexType name="DriverDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierInfo" nillable="true" type="tns:SupplierInfoDto" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverDto" nillable="true" type="tns:DriverDto" />
  <xs:complexType name="SupplierInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drivers" nillable="true" type="tns:ArrayOfDriverDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierProductDtos" nillable="true" type="tns:ArrayOfSupplierProductDto" />
      <xs:element minOccurs="0" name="Trucks" nillable="true" type="tns:ArrayOfTruckDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierInfoDto" nillable="true" type="tns:SupplierInfoDto" />
  <xs:complexType name="ArrayOfDriverDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DriverDto" nillable="true" type="tns:DriverDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriverDto" nillable="true" type="tns:ArrayOfDriverDto" />
  <xs:complexType name="ArrayOfSupplierProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierProductDto" nillable="true" type="tns:SupplierProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierProductDto" nillable="true" type="tns:ArrayOfSupplierProductDto" />
  <xs:complexType name="SupplierProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierProductDto" nillable="true" type="tns:SupplierProductDto" />
  <xs:complexType name="ArrayOfTruckDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TruckDto" nillable="true" type="tns:TruckDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTruckDto" nillable="true" type="tns:ArrayOfTruckDto" />
  <xs:complexType name="TruckDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Own" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupplierInfo" nillable="true" type="tns:SupplierInfoDto" />
      <xs:element minOccurs="0" name="TruckRegNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeighBridgeInfo" nillable="true" type="tns:ArrayOfWeighBridgeInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruckDto" nillable="true" type="tns:TruckDto" />
  <xs:complexType name="ArrayOfWeighBridgeInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeighBridgeInfoDto" nillable="true" type="tns:WeighBridgeInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeighBridgeInfoDto" nillable="true" type="tns:ArrayOfWeighBridgeInfoDto" />
  <xs:complexType name="WeighBridgeInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstMass" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NettMass" type="xs:long" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondMass" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeighBridgeInfoDto" nillable="true" type="tns:WeighBridgeInfoDto" />
  <xs:complexType name="SaleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerDto" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckRegNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeighBridgeInfo" nillable="true" type="tns:WeighBridgeInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleDto" nillable="true" type="tns:SaleDto" />
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBookingDto" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
  <xs:complexType name="ArrayOfBookingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingDto" nillable="true" type="tns:BookingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingDto" nillable="true" type="tns:ArrayOfBookingDto" />
  <xs:complexType name="BookingDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Containers" nillable="true" type="tns:ArrayOfContainerDto" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingDto" nillable="true" type="tns:BookingDto" />
  <xs:complexType name="ArrayOfContainerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContainerDto" nillable="true" type="tns:ContainerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainerDto" nillable="true" type="tns:ArrayOfContainerDto" />
  <xs:complexType name="ContainerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Booking" nillable="true" type="tns:BookingDto" />
      <xs:element minOccurs="0" name="ContainerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NettWeight" type="xs:long" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sealnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TareWeight" type="xs:long" />
      <xs:element minOccurs="0" name="TruckRegNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeighBridgeInfo" nillable="true" type="tns:WeighBridgeInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainerDto" nillable="true" type="tns:ContainerDto" />
  <xs:complexType name="ArrayOfSupplierInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierInfoDto" nillable="true" type="tns:SupplierInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierInfoDto" nillable="true" type="tns:ArrayOfSupplierInfoDto" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDto" nillable="true" type="tns:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RustiviaPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
  <xs:complexType name="ArrayOfCustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDto" nillable="true" type="tns:CustomerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDto" nillable="true" type="tns:ArrayOfCustomerDto" />
  <xs:complexType name="ArrayOfPurchaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseDto" nillable="true" type="tns:PurchaseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseDto" nillable="true" type="tns:ArrayOfPurchaseDto" />
  <xs:complexType name="ArrayOfSaleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleDto" nillable="true" type="tns:SaleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleDto" nillable="true" type="tns:ArrayOfSaleDto" />
</xs:schema>