WeighBridgeApplication/WeighBridgeApplication/Service References/RustiviaService.DbContext/DataContext.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataContext" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataContext_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaWeService/DataContext.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaWeService/DataContext.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaWeService/DataContext.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" />
      <xsd:import schemaLocation="http://10.0.0.10/RustiviaWeService/DataContext.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataContext_AddWeighBridgeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWeighBridgeInfo" />
  </wsdl:message>
  <wsdl:message name="IDataContext_AddWeighBridgeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWeighBridgeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrucks" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrivers" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliers" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetWeighBridgeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeighBridgeInfo" />
  </wsdl:message>
  <wsdl:message name="IDataContext_GetWeighBridgeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeighBridgeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContext_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IDataContext_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataContext">
    <wsdl:operation name="AddWeighBridgeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataContext/AddWeighBridgeInfo" message="tns:IDataContext_AddWeighBridgeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataContext/AddWeighBridgeInfoResponse" message="tns:IDataContext_AddWeighBridgeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataContext/GetTrucks" message="tns:IDataContext_GetTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataContext/GetTrucksResponse" message="tns:IDataContext_GetTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataContext/GetDrivers" message="tns:IDataContext_GetDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataContext/GetDriversResponse" message="tns:IDataContext_GetDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataContext/GetSuppliers" message="tns:IDataContext_GetSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataContext/GetSuppliersResponse" message="tns:IDataContext_GetSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeighBridgeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataContext/GetWeighBridgeInfo" message="tns:IDataContext_GetWeighBridgeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataContext/GetWeighBridgeInfoResponse" message="tns:IDataContext_GetWeighBridgeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataContext/IsValidUser" message="tns:IDataContext_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataContext/IsValidUserResponse" message="tns:IDataContext_IsValidUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataContext" type="tns:IDataContext">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataContext_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWeighBridgeInfo">
      <soap12:operation soapAction="http://tempuri.org/IDataContext/AddWeighBridgeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrucks">
      <soap12:operation soapAction="http://tempuri.org/IDataContext/GetTrucks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrivers">
      <soap12:operation soapAction="http://tempuri.org/IDataContext/GetDrivers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap12:operation soapAction="http://tempuri.org/IDataContext/GetSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeighBridgeInfo">
      <soap12:operation soapAction="http://tempuri.org/IDataContext/GetWeighBridgeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <soap12:operation soapAction="http://tempuri.org/IDataContext/IsValidUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataContext">
    <wsdl:port name="WSHttpBinding_IDataContext" binding="tns:WSHttpBinding_IDataContext">
      <soap12:address location="http://10.0.0.10/RustiviaWeService/DataContext.svc/RustiviaSolutions.Context.DataContext" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.0.0.10/RustiviaWeService/DataContext.svc/RustiviaSolutions.Context.DataContext</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>