WeighBridgeApplication/WeighBridgeApplication/Service References/RustiviaService.DbContext/DataContext4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57969/DataContext.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" />
  <xs:element name="AddWeighBridgeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" minOccurs="0" name="weighBridgeInfo" nillable="true" type="q1:WeighBridgeInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWeighBridgeInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWeighBridgeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" minOccurs="0" name="weighBridgeInfo" nillable="true" type="q2:WeighBridgeInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWeighBridgeInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" minOccurs="0" name="GetTrucksResult" nillable="true" type="q3:ArrayOfTruckDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" minOccurs="0" name="GetDriversResult" nillable="true" type="q4:ArrayOfDriverDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" minOccurs="0" name="GetSuppliersResult" nillable="true" type="q5:ArrayOfSupplierInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeighBridgeInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeighBridgeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RustiviaSolutions.Service.DTO" minOccurs="0" name="GetWeighBridgeInfoResult" nillable="true" type="q6:ArrayOfWeighBridgeInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>